# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pickled Objects
*.pkl

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# virtualenv
.venv/
env/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# PyCharm
.idea/
*.iml
*.iws

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

#
*.db
